    {{ partial "head.html" . }}
    <body>
        {{ partial "sidebar.html" . }}
        <div class="content-wrapper">
            <div class="content-wrapper__inner">
                {{ range .Data.Pages.GroupByDate "2006" }}
                <h2>{{ .Key }}</h2>
                <ul id="list">
                    {{range .Pages }}
                    <li>
                        <a href="{{ .Permalink }}">{{ .Title }} {{ if .GetParam "draft"}}DRAFT{{end}}</a>
                        <div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
        </div>
        <script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analyzer.kkdev.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 7]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//analyzer.kkdev.org/piwik.php?idsite=7" style="border:0;" alt="" /></p></noscript>
    </body>
    {{ partial "script.html" .}}
</html>
