    {{ partial "head.html" . }}
    <body>
        {{ partial "sidebar.html" . }}
        <div class="content-wrapper">
            <div class="content-wrapper__inner">
                <div class="post">
                    <h1>{{ .Title }}</h1>
                    {{ .Content }}
                </div>
            </div>
        </div>

{{ partial "script.html" .}}
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analyzer.kkdev.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 7]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//analyzer.kkdev.org/piwik.php?idsite=7" style="border:0;" alt="" /></p></noscript>
</html>
